<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="container-sm">
        
        <a href="/home">Home</a>
        <a href="/notes">Notes</a>
        <a href="/schedule">Schedule</a>
        <a href="/dojoLounge">Lounge</a>
        <a href="/store">Store</a>
        <a href="/profile">Profile</a>
        <a href="/">Logout</a>
   
    </nav>
    
    <h1>Edit Note</h1>
    <form action="/notes/{{ index }}?_method=PUT" method="POST">
        User: <input type="text" name="user" placeholder="{{notes.user}}">
        Date: <input type="text" name="date" placeholder="{{notes.date}}">
        Training Type: <input type="text" name="typeoftraining" placeholder="{{notes.typeoftraining}}">
        Notes: <input type="text" name="notes" placeholder="{{notes.notes}}">
        
        
        <input type="submit" name="" value="Submit Changes">
    </form>
</body>
</html>